.protocolCard{
    background-color: rgb(29,26,39);
    color: white;
}

.protocolH6{
    /* font-family: "inter"; */
    font-size: 130%;
    font-weight: 600;
    /* line-height: 28px; */
    text-decoration: none solid rgb(46,144,250);
    color:  rgb(46,144,250) ;
}

.protocolP{
    /* font-family: "inter"; */
    font-size: 18px;
    font-weight: 600;
    text-decoration: none solid rgb(216,216,216);
    padding: 0 48px 0 48px;
}

.protocolH1{
    font-family: "outfit";
    font-size: 40px;
    font-weight: 600;
    text-decoration: none solid rgb(216,216,216);

}

.protocolBtn{
    background-color: rgb(74,72,82);
    color: white;
    border-radius: 20px;
    border: none;
    
}